body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Color de fondo negro */
    color: #ccc; /* Color de texto claro */
    transition: background-color 0.5s ease; /* Transición suave para el cambio de color de fondo */
}

#contenedor {
    background-color: #1e1e1e; /* Color del contenedor oscuro */
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #444; /* Añadir borde delgado al contenedor */
}

h1, h2, label {
    text-align: center;
    transition: color 0.5s ease; /* Transición suave para el cambio de color de texto */
}

label {
    color: #fff; /* Color de las etiquetas blanco */
}

#breed-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Aumentar el tamaño de fuente para mayor legibilidad */
}

#breed-select option {
    font-size: 14px; /* Ajustar el tamaño de fuente para las opciones del select */
    background-color: #333; /* Color de fondo oscuro para las opciones del select */
    color: #fff; /* Color de texto claro para las opciones del select */
}

#load-breed, #view-image {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #444; /* Añadir borde delgado a los botones */
    border-radius: 5px;
    background-color: #4CAF50; /* Color de botones verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#load-breed:hover, #view-image:hover {
    background-color: #45a049; /* Cambio de color al pasar el ratón */
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

/* Cambios para la animación de clic en los botones */
#load-breed:active, #view-image:active {
    transform: scale(0.95); /* Reducir ligeramente el tamaño al hacer clic */
    background-color: #388e3c; /* Cambiar color de fondo al hacer clic */
    color: #fff; /* Cambiar color de texto al hacer clic */
}

/* Estilo para el contenedor de la imagen */
#image-container {
    margin: 0 auto; /* Centrar el contenedor de la imagen */
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo semi-transparente */
    border: 2px solid #444; /* Borde oscuro */
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    position: relative; /* Establecer posición relativa para permitir superposición */
}

/* Estilo para la imagen del perro */
#dog-image {
    width: 100%;
    height: 100%;
}

/* Animación para el título */
h1 {
    transition: transform 0.5s ease; /* Transición suave para el título */
}

h1:hover {
    transform: translateY(-3px); /* Efecto de levantamiento al pasar el ratón */
}

#image-container:hover {
    border-color: #45a049; /* Cambio de color del borde al pasar el ratón */
}

#image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

#image-container:hover::after {
    opacity: 1; /* Mostrar gradiente al pasar el ratón */
}

